[Unit]
Description=PICAM Master Control Program
After=network.service mnt-work.mount

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/mcp

[Install]
WantedBy=multi-user.target
